[Unit]
Description=MIDI Tracker Web Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/OneDrive\ -\ UTS/PersonalProjects/midi_tracker/midiTrackerApp/web_app
ExecStart=/bin/sh start_web.sh
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
