[Unit]
Description=MIDI Tracker Web Server
After=network.target

[Service]
Type=simple
User=swag
WorkingDirectory=/home/swag/Documents/git/midiTrackerApp/web_app
ExecStart=/bin/sh /home/swag/Documents/git/midiTrackerApp/web_app/start_web.sh
Restart=on-failure
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
