[Unit]
Description=MIDI Tracker Web Server
After=network.target

[Service]
Type=simple
User=swag
WorkingDirectory=/home/swag/Documents/git/midiTrackerApp/web_app
Environment="VIRTUAL_ENV=/home/swag/Documents/git/midiTrackerApp/.venv"
Environment="PATH=/home/swag/Documents/git/midiTrackerApp/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/swag/Documents/git/midiTrackerApp/.venv/bin/python /home/swag/Documents/git/midiTrackerApp/web_app/server.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
